NODE_ENV=development
PORT=3000
DATABASE="mongodb+srv://<user>:<password>@main.35cf9sr.mongodb.net/?retryWrites=true&w=majority"
DATABASE_USER=
DATABASE_PASSWORD=

JWT_SECRET=holamellamocesarin9869372420ErickLa-Ultra_SEGURA_CHINGONA_LLAVE-SECRETA
JWT_EXPIRES_IN=10h
JWT_COOKIE_EXPIRES_IN=180

API_KEY = 'AIzaSyAJrsuy6QtX-YjXnSgsSJesuPrqQQl9s7I'
AUTH_DOMAIN = 'robertoruiz-eca78.firebaseapp.com'
PROJECT_ID = 'robertoruiz-eca78'
STORAGE_BUCKET = 'robertoruiz-eca78.appspot.com'
MESSAGING_SENDER_ID = '18102753117'
APP_ID = '1:18102753117:web:189322a789ebedc1857ab4'
MEASSUREMENT_ID = 'G-YYTTKGJPNR'

MAIL_USERNAME="robertoruizobregonorg@gmail.com"
MAIL_PASSWORD="robertoruizobregon23"
OAUTH_CLIENTID="18102753117-atot69qilamk3me0r4a6k2mcmdluj61l.apps.googleusercontent.com"
OAUTH_CLIENT_SECRET="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"
OAUTH_ACCESS_TOKEN="ya29.a0AVvZVsq07qUT0-6Xc_UprzqeZhvAdlxBeiZ7vI-9DHXV4l0kLLY0f22n-3doB9_otFzc8m-8haxUkjtY12ThQUMeTK1ZpW6ytTbwldfRFyM0XBODEJInqWAvFfIZ-yNjiUJEHzqaoOBowc96Q_4vtzImNwjfaCgYKAcYSARASFQGbdwaIeFIOmDGe3kYnOXen9vdBVA0163"
OAUTH_REFRESH_TOKEN="1//04uOUHuTPgRmWCgYIARAAGAQSNwF-L9IrnHASFGRwRWF_G19G_UJiirIRO7TDdmB0fRUEmDEXDKpzIr8Kjm-iZjH0m2ZZCJTXAEQ"

EMAIL_FROM="robertoruizobregonorg@gmail.com"
LANDING_URL="https://www.facebook.com/fundacionruizobregon/"