footer.footer
    .footer__logo
        img(src='/api/img/logo.png' alt='Roberto Ruiz Logo')
    ul.footer__nav
        li: a(href=('https://www.facebook.com/fundacionruizobregon/')) Facebook
        li: a(href=('https://www.facebook.com/fundacionruizobregon/')) Instagram
        li: a(href=('https://www.facebook.com/fundacionruizobregon/')) WhatsApp
        li: a(href=('https://www.facebook.com/fundacionruizobregon/')) Tiktok
    p.footer__copyright &copy; Por Fundacion Roberto Ruiz Obregon