//- con un . despues dele elemento decimos la clase
header.header
    //- como es div no necesitamos ni ponerle el div porque es el que va por defecto
    .header__logo
        img(src='/api/img/logo.png' alt='Logo fundacion')