//- With this tag we replace the content inside base with our block
extends base 

block content 
    main.main
        .association
            img.logo(src=`/api/img/logo.png`)
            .title
                span= "API de la Asociacion Roberto Ruiz Obregon"
