//- With this tag we replace the content inside base with our block
extends base 

block content 
    main.main
        .association
            img.logo(src=`/img/logo.png`)
            .title
                span= "Asociacion Roberto Ruiz Obregon"
