extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Recupera tu contraseña
            form.form.form--passwordreset(data-token=resetToken, data-user=userType)
                .form__group
                    label.form__label(for='email') Dirección de correo electrónico
                    input#email.form__input(type='email', placeholder='correo@ejemplo.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Nueva contraseña
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirmar nueva contraseña
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--red Cambiar contraseña