extends baseEmail

block content
  p Hola #{firstName},
  p Hemos creado un nuevo curso que te podría gustar.
  h1 #{course.courseName}
  p #{course.description}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  img(src=`${course.imageUrl}`, style='width:100%')
  p ¡Esperamos que este curso sea de tu agrado y aprendas mucho en él!
  p Este curso ya está disponible dentro de la aplicación.