extends baseEmail

block content
  p Hola #{firstName},
  p Hemos aceptato tu pago para el curso #{course.courseName}, pronto recibiras un correo de confirmacion de inscripcion.
  p #{course.description}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  img(src=`${course.imageUrl}`, style='width:100%')
  p Esperamos que este curso sea de tu agrado y aprendas mucho!