extends baseEmail

block content
  p Hola #{firstName},
  p Bienvenido a la familia de la Fundaci贸n Roberto Ruiz Obreg贸n, nos alegra que nos acompa帽es 
  p Somos una gran familia con muchos cursos y oportunidades de aprendizaje que ofrecer. 隆Empieza revisando nuestra p谩gina oficial!
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Conocer sobre la fundaci贸n
  p Si necesitas ayuda descargando la aplicaci贸n o aplicando a alguno de nuestros programas, 隆no dudes en contactarnos!
  p - Fundaci贸n Roberto Ruiz Obreg贸n